 @import "../variables";
 .postulate{
    margin: 20px 20% 20px 20%;
    border: 2px solid $color-header;
    border-radius: 2%;
    padding: 10px;
    .btn{
            background-color: $color-boton;
    }
}
